<html>
  <head>
    <title>Homer Simpson</title>
    <link rel="stylesheet" href="/public/style.css" />
    <body>
      <h1>About</h1>
      <a href="/">Home</a>
      <a href="/works">Works</a>
      <img
        src="https://nnimgt-a.akamaihd.net/transform/v1/crop/frm/3AijacentBN9GedHCvcASxG/30c016d8-3023-4a70-bc70-720974340b98.jpg/r0_0_2400_1832_w1200_h678_fmax.jpg"
        alt="homer nuclear plant"
      />
      <p>
        Homer lives in Springfield, Illinois and works at the nuclear power plant.
      </p>
    </body>
  </head>
</html>
