<html>
  <head>
    <title>Homer Simpson</title>
    <link rel="stylesheet" href="/public/style.css" />
    <body>
      <h1>Home</h1>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <img
        src="https://img.favpng.com/7/17/8/homer-simpson-bart-simpson-lisa-simpson-marge-simpson-peter-griffin-png-favpng-tpPtmz4v1NRpwxLP7LM5r1W0a.jpg"
        alt="homer simpson donut"
      />
      <p>
        This is the website for Homer Simpson, an admirable human being.
      </p>
    </body>
  </head>
</html>
