<html>
  <head>
    <title>Homer Simpson</title>
    <link rel="stylesheet" href="/public/style.css" />
    <body>
      <h1>Works</h1>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <img
        src="https://vignette.wikia.nocookie.net/simpsons/images/5/55/Homer%27s_book.png/revision/latest?cb=20130520141224"
        alt="homer book"
      />
      <p>
        Homer has produced many works over the course of his life, most notable his autobiography.
      </p>
    </body>
  </head>
</html>
